<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Languageliser</title>

</head>

<body>
 <div class="window">
	<h1>Language Identification</h1>

    <form action="{{ url_for('predict')}}" method="post">
		<input type="text" name="text" value="{{ random_text }}" placeholder="Input your text here..." />
        <button type="submit" name="action" value="identify" class="btn btn-primary btn-block btn-large">Identify!</button>
        <button type="submit" name="action" value="pick" class="btn btn-primary btn-block btn-large">Pick Random Sentence</button>
    </form>

   {{ identified_lang }}

 </div>


</body>
</html>